body {
    border: 3px solid black;
    padding: 6px;
}

h1{
    color: darkgreen;
    border: #000000 solid 1px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

h3 {
    color: white;
    font-weight: lighter;
    background: black;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}



